:root {
    /* colors */
    --header-color: #080b12;
    --main-color: #141922;
    --footer-color: #282828;
    --accent-color: #adff2f;
    --font-color: #a3a3a3;

    /* sizes */
    --aside-width: 230px;
    --header-height: 90px;
    --footer-height: 90px;
}

/* *************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.gap-1 {
    gap: 10px;
}

.py-1 {
    padding-block: 10px;
}

/* #endregion utilities */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--font-color);
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: var(--font-color);
}

/* #region Aside */

aside {
    width: var(--aside-width);
    height: calc(100vh - var(--footer-height));
    padding: 0 20px 20px 20px;
    background: #000;
}

#logo {
    height: var(--header-height);
}

#logo img {
    width: 130px;
}

.upper-aside ul li {
    padding-block: 6px;
}

.upper-aside img {
    width: 24px;
    object-fit: contain;
    object-position: center;
}

.playlist li {
    padding-block: 10px;
}

.add-playlist-btn {
    width: 37px;
    height: 37px;
    background: var(--font-color);
    color: #000;
    font-size: 30px;
    text-align: center;
}

.playlist h3 {
    padding: 26px 0 4px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.user {
    margin-top: auto;
    font-size: 12px;
}

.install-app {
    padding-block: 6px;
    border-bottom: 1px solid var(--font-color);
}

.user .install-app img {
    width: 18px;
    object-fit: contain;
    object-position: center;
}

.user-profile {
    padding-top: 16px;
    font-size: 14px;
    color: #fff;
}

.user .user-profile img {
    width: 24px;
    background: var(--font-color);
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}

/* #endregion Aside */

/* #region Header */
header {
    width: calc(100vw - var(--aside-width));
    height: var(--header-height);
    padding: 20px;
    background: var(--header-color);
}

.btn {
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid var(--font-color);
    border-radius: 25px;
}

/* #endregion Header */

main {
    width: calc(100vw - var(--aside-width));
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    background: var(--main-color);
    overflow-y: auto;
}

footer {
    width: 100vw;
    height: var(--footer-height);
    background: var(--footer-color);
}