:root {
    /* colors */
    --header-color: #080b12;
    --main-color: #141922;
    --footer-color: #282828;
    --accent-color: #adff2f;
    --font-color: #a3a3a3;

    /* sizes */
    --aside-width: 230px;
    --header-height: 90px;
    --footer-height: 90px;
}

/* *************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-1 {
    gap: 10px;
}

/* #endregion utilities */

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--font-color);
}

aside {
    width: var(--aside-width);
    height: calc(100vh - var(--footer-height));
    padding: 0 20px 20px 20px;
    background: #000;
}

#logo {
    height: var(--header-height);
}

#logo img {
    width: 130px;
}

.upper-aside ul li {
    padding-block: 6px;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--font-color);
}

.upper-aside img {
    width: 24px;
    object-fit: contain;
    object-position: center;
}

header {
    width: calc(100vw - var(--aside-width));
    height: var(--header-height);
    background: var(--header-color);
}

main {
    width: calc(100vw - var(--aside-width));
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    background: var(--main-color);
}

footer {
    width: 100vw;
    height: var(--footer-height);
    background: var(--footer-color);
}