:root {
    /* colors */
    --header-color: #080b12;
    --main-color: #141922;
    --footer-color: #282828;
    --accent-color: #adff2f;

    /* sizes */
    --aside-width: 230px;
    --header-height: 90px;
    --footer-height: 90px;
}

/* *************************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* #endregion utilities */


aside {
    width: var(--aside-width);
    height: calc(100vh - var(--footer-height));
    background: #000;
}

#logo {
    height: var(--header-height);
    padding: 20px;
}

#logo img {
    width: 130px;
}

header {
    width: calc(100vw - var(--aside-width));
    height: var(--header-height);
    background: var(--header-color);
}

main {
    width: calc(100vw - var(--aside-width));
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
    background: var(--main-color);
}

footer {
    width: 100vw;
    height: var(--footer-height);
    background: var(--footer-color);
}